.data-view {
  flex: 1;

  .container,
  .key-tree,
  .key-detail {
    display: flex;
    height: 100%;
  }
}

.key-tree {
  height: 100%;
  flex-flow: column nowrap;
  display: flex;

  .key-list {
    flex: 1;
    display: flex; 
    flex-flow: column nowrap;
    border-top: none;
  }
  
  .ant-spin-nested-loading {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
  }
  
  .list-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .search {
      flex: 1;
      display: flex;
      width: 100%;
      margin-bottom: 8px;
    }

    .filter{
      flex: 1;
      display: flex;
      width: 100%;
    }
  }

  .list-item {
    cursor: pointer;

    &.selected {
      background-color: #ccc;
    }
    
    &:hover {
      background-color: #ddd;
    }

    .ant-list-item-content {
      align-items: center;
    }

    .key {
      flex: 1;
      width: 0px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    
    .type {
      padding: 2px 10px;
      border-radius: 4px;
      color: #fff;
      margin-right: 14px;
      display: flex;
      line-height: 24px;
      width: 56px;
      justify-content: center;
      align-content: center;
    }

    .string {
      background-color: green;
    }

    .hash {
      background-color: blue;
    }

    .list {
      background-color: red;
    }

    .set {
      background-color: orange;
    }

    .zset {
      background-color: purple;
    }
  }

  .list-selected {
    background-color: #ccc;
  }
}
