.data-view {
  flex: 1;

  .container,
  .key-tree,
  .key-detail {
    display: flex;
    height: 100%;
  }
}

.key-tree {
  height: 100%;
  flex-flow: column nowrap;
  display: flex;

  .key-list {
    flex: 1;
    display: flex; 
    flex-flow: column nowrap;
    border-top: none;


  }
  
  .ant-spin-nested-loading {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
  }
  
  .list-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .search {
      flex: 1;
      display: flex;
      width: 100%;
      margin-bottom: 8px;
    }

    .filter{
      flex: 1;
      display: flex;
      width: 100%;
    }
  }

  .list-item {
    &:hover {
      background-color: #ddd;
    }

    cursor: pointer;

    .ant-list-item-content {
      white-space: nowrap;
      text-overflow: ellipsis;
      display: flex;
      overflow: hidden;
      flex-flow: row nowrap;
      align-items: center;
    }

    .key {
      flex: 1;
    }
    
    .type {
      display: block;
      padding: 2px 16px;
      border-radius: 4px;
      width: 64px;
      text-align: center;
      color: white;
      margin-right: 14px;
    }

    .string {
      background-color: green;
    }

    .hash {
      background-color: blue;
    }

    .list {
      background-color: red;
    }

    .set {
      background-color: orange;
    }

    .zset {
      background-color: purple;
    }
  }

  .list-selected {
    background-color: #ccc;
  }
}

.key-detail {
  background:green;

  .key-fields {
    height: 100%;
    background: yellow;
  }

  .fields-value {
    height: 100%;
  }
}
